@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #010100;
  --background: #fefeff;
}

.dark {
  --foreground: #dde1e2;
  --background: #111416;
}

/* Selection of the text code */
::-moz-selection {
  /* Code for Firefox */
  color: #dde1e2;
  background: #111416;
}
.dark ::-moz-selection {
  /* Code for Firefox */
  color: #111416;
  background: #dde1e2;
}
::selection {
  color: #dde1e2;
  background: #111416;
}
.dark ::selection {
  color: #111416;
  background: #dde1e2;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
