@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #010100;
  --background: #fefeff;
}

.dark {
  --foreground: #ebf4f1;
  --background: #0e0d0d;
}

.rock {
  --foreground: #16bae8;
  --background: #030203;
}
.disco {
  --foreground: #c3a0e2;
  --background: #1d1d1c;
}
.monochrome {
  --foreground: #dba093;
  --background: #1d1d1c;
}

/* Selection of the text code */
::-moz-selection {
  /* Code for Firefox */
  color: #ebf4f1;
  background: #0e0d0d;
}
.dark ::-moz-selection {
  /* Code for Firefox */
  color: #0e0d0d;
  background: #ebf4f1;
}
::selection {
  color: #ebf4f1;
  background: #0e0d0d;
}
.dark ::selection {
  color: #0e0d0d;
  background: #ebf4f1;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
